
<footer class="navbar navbar-fixed-bottom">
    <div class="container text-muted">
        <div style="display:flex; justify-content:space-around; align-items: center">
            <img class="img-responsive" src="/img/logos/nsf_logo.gif" alt="" height="100px">
            <p>&copy; GEM-NET 2017</p>

            <div id="contact-4" class="widget widget_contact">
                <address>
                    <span class="address"><i class="fa fa-map-marker"></i><span class="adress-overflow">333 Cedar St<br>New Haven, CT, 06510</span></span>
                    <!-- <span class="phone"><i class="fa fa-phone"></i><strong>Phone:</strong> (612) 626-6732</span> -->
                    <span class="email"><i class="fa fa-envelope"></i><a href="mailto:info@gem-net.net">info@gem-net.net</a></span>
                </address>
            </div>
        </div>
    </div>
</footer>


    <!--  FOR MATHJAX
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> -->


	<script src="{{ "/assets/bootstrap.css" | relative_url }}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ "vendor/jquery/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "vendor/tether/tether.min.js" | relative_url }}"></script>
    <script src="{{ "vendor/bootstrap/js/bootstrap.min.js" | relative_url }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "vendor/jquery-easing/jquery.easing.min.js" | relative_url }}"></script>
    <script src="{{ "vendor/scrollreveal/scrollreveal.min.js" | relative_url }}"></script>
    <script src="{{ "vendor/magnific-popup/jquery.magnific-popup.min.js" | relative_url }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ "assets/js/creative.js" | relative_url }}"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- assets/js/ie10-viewport-bug-workaround.js -->
