      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/research">Research</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">Our Team</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Outreach &amp; Diversity</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/news">News</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Opportunities</a>
            </li> -->
          </ul>
        </nav>
        <h3 class="text-muted">GEM-NET</h3>
      </div>