// Styling for the services section
.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 768px) { // SGG: was 992px
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
    i {
    	margin-bottom: 10px; // SGG addition
    }
}
